<h1>Create</h1>

<form method="post">

<label>Challenge name</label>
<input type="text" placeholder="I will do pushups everyday" id="challenge[name]" name="challenge[name]" />
<span class="help-block">What is your challenge?</span>

<button type="submit" class="btn btn-primary">Submit</button>
</form>