            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>30 Day Challenge</h1>
                <h2><%= test %></h2>
                <p>Do what you always wanted to do. Achieve more. Learn more. Improve. Become better, faster, stronger. 
                    Whatever you wish to be. Now is the time! Create your challenge now.</p>
                <p><a class="btn btn-primary btn-large">Find out more &raquo;</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span12">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>